
    <div class="cover">
        <div class="left">
          <form class="col-6 m-auto" [formGroup]="frm1">
            <p> 
              <input formControlName="username" type="text" name="u" class="form-control"> 
              <em *ngIf="frm1.controls['username']?.errors" class="text-danger" >
                Username từ 3 đến 10 ký tự nhe
              </em>
            </p>
            <p> 
              <input formControlName="password" type="password" name="u" class="form-control">
              <em *ngIf="frm1.controls['password']?.errors?.['minlength']['actualLength']<
              frm1.controls['password']?.errors?.['minlength']['requiredLength']" class="text-danger">
                Mật khẩu còn ngắn lắm
              </em>
            </p>
            </form>
        </div>
        <div class="right">
          <form [formGroup]="login"> 
            <!-- user input -->
            <div class="form-outline mb-4">
              <label class="form-label" for="form3Example3">Username</label>
              <input type="text" name="username" formControlName="username" required minlength="6" id="form3Example3" class="form-control form-control-lg"
                placeholder="Username" />
                <em *ngIf="login.controls['username']?.errors" class="text-danger" >
                  Username từ 3 đến 10 ký tự nhe
                </em>
            </div>
  
            <!-- Password input -->
            <div class="form-outline mb-3">
              <label class="form-label" for="form3Example4">Password</label>
              <input type="password" id="form3Example4" name="password" formControlName="password" class="form-control form-control-lg"
                placeholder="Password" />
                <em *ngIf="login.controls['password']?.errors?.['minlength']['actualLength']<
                    login.controls['password']?.errors?.['minlength']['requiredLength']" class="text-danger">
                  Mật khẩu còn ngắn lắm
                </em>
            </div>
  
            <div class="d-flex justify-content-between align-items-center">
              <!-- Checkbox -->
              <div class="form-check mb-0">
                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                <label class="form-check-label" for="form2Example3">
                  Remember me
                </label>
              </div>
              <a href="#!" class="text-body">Forgot password?</a>
            </div>
  
            <div class="text-center text-lg-start mt-4 pt-2">
              <button type="submit" class="btn btn-primary btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem;">
                Login
              </button>
            </div>
            
          </form>
        </div>
    </div>
    
    <p> Username : {{login.value.username}} </p>
    <p> password : {{login.value.password}} </p>